<% model_class = FrontpageElement %>

<div class="row" style="margin: 20px;">
  <div class="col-md-12">
    <%= link_to 'Volver a lista de elementos', frontpage_elements_path, class: 'btn btn-primary pull-left' %>
  </div>
</div>
<div class="row" style="background-color: #D9D9D9;">
  <div class="col-md-12" style="height: 400px;">
    <div class="col-md-12">
      <h2>Panel grande</h2>
    </div>
    <div class="col-md-12">
      <h5>---Imagen---</h5>
    </div>
    <div class="col-md-12">
      <button class="btn-danger" style="border-radius: 20px; padding: 10px;" >
        <span>Hazte voluntario</span>
      </button>
    </div>
  </div>
</div>
<div class="row" style="background-color: #FFAAAA;">
  <div class="col-md-8" style="height: 100px;">
    <h2>Panel mediano</h2>
  </div>
  <div class="col-md-2" style="height: 100px;">
    <h1><%= fa_icon('users') %> <%= Volunteer.all.count %></h1>
  </div>
  <div class="col-md-2" style="height: 100px;">
    <button class="btn-danger" style="border-radius: 20px; padding: 10px; margin-top: 20px;" >
      <span>Apúntate</span>
    </button>
  </div>
</div>
<div class="row" style="background-color: #000000;">
  <div class="col-md-3" style="height: 100px;">
    <h2>Ser voluntario es muy fácil</h2>
  </div>
  <div class="col-md-1" style="height: 100px;">
    <h1>1 <span style="font-size: 60px;">/</span></h1>
  </div>
  <div class="col-md-2" style="height: 100px;">
    <h3>Panel pequeño 1</h3>
  </div>
  <div class="col-md-1" style="height: 100px;">
    <h1>2 <span style="font-size: 60px;">/</span></h1>
  </div>
  <div class="col-md-2" style="height: 100px;">
    <h3>Panel pequeño 2</h3>
  </div>
  <div class="col-md-1" style="height: 100px;">
    <h1>3 <span style="font-size: 60px;">/</span></h1>
  </div>
  <div class="col-md-2" style="height: 100px;">
    <h3>Panel pequeño 3</h3>
  </div>
</div>