<% model_class = FrontpageElement %>

<div class="row">
  <div class="col-md-12" style="border-style: solid; height: 500px;">
    <span><h2>Banner grande</h2></span>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="border-style: solid; height: 100px;">
    <span><h2>Banner pequeño</h2></span>
  </div>
</div>
<div class="row">
  <div class="col-md-3" style="border-style: solid; height: 100px;">
    <span><h3>Caja 1</h3></span>
  </div>
  <div class="col-md-3" style="border-style: solid; height: 100px;">
    <span><h3>Caja 2</h3></span>
  </div>
  <div class="col-md-3" style="border-style: solid; height: 100px;">
    <span><h3>Caja 3</h3></span>
  </div>
  <div class="col-md-3" style="border-style: solid; height: 100px;">
    <span><h3>Caja 4</h3></span>
  </div>
</div>