<%= main_title(t("action.new", model: "#{Project.model_name.human} #{Pt::Punctual.model_name.human}")) %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

<%= button_to_back %>
