<div class="well well-form">
  <%= simple_nested_form_for(@rt_volunteer_unsubscribe, default_form_options) do |f| %>

      <div class="form-inputs">
        <%= render partial: 'form_fields', locals: {f: f } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-success js-confirmable' %>
        <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
      </div>

  <% end %>
</div>