<div class="jumbotron">
  <h1>Bienvenido!</h1>
  <p>Esta es la página de Administración del Voluntariado del Ayuntamiento de Madrid</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
