<div id="project" class="well well-form">
  <%= simple_nested_form_for(@project, default_form_options) do |f| %>

      <%= render partial: '_project_fields', locals: { f: f } %>
      <%= render partial: "_pt_#{@project.pt_extension_kind}_fields", locals: { f: f } if @project.pt_extendable? %>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>