<div id="project" class="form">
  <%= simple_nested_form_for(@project, default_form_options) do |f| %>

      <%= render partial: 'form_fields', locals: { f: f } %>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>