<%= main_title(t('action.show', model:"#{Project.model_name.human} #{ProjectType.kinds_i18n[@pt_extension]}" )) %>

<div class="row">
  <div class="col-md-12">

    <%= render partial: 'show', locals: { pt_subvention: @pt_subvention } %>

  </div>
</div>





<% unless request.xhr? %>
<%= button_to_back %>
<%= button_to_edit(@project) %>
<% end %>