<div class="logo-fields col-md-12">
  <div class="">
    <%= content_tag :div, image_tag(f.object.file.url(:small), height: '210', width: '210'), class: 'logo-img' %>
    <%= f.input :file, as: :file, label: false, wrapper_html: { class: '' } %>
    <%= f.input :link_type_id, as: :hidden, input_html: { value: LinkType.logo.take.id } %>
  </div> <!-- logo-fields -->
</div>