staging:
  deploy_to: "/var/www/volun_backend"
  ssh_port: 22
  full_app_name: volun_backend
  stage: 'staging'
  server_name: 'staging.volun_backend.es'
  server: 'xxx.xxx.xxx.xxx'
  user:   'xxxxx'

preproduction:
  deploy_to: "/var/www/volun_backend"
  ssh_port: 22
  full_app_name: volun_backend
  stage: 'preproduction'
  server_name: 'preproduction.volun_backend.es'
  server: 'xxx.xxx.xxx.xxx'
  user:   'xxxxx'

production:
  deploy_to: "/var/www/volun_backend"
  ssh_port: 22
  full_app_name: volun_backend
  stage: 'production'
  server_name: 'production.volun_backend.es'
  server: 'xxx.xxx.xxx.xxx'
  user:   'xxxxx'
