<div class="well">
  <%= simple_nested_form_for(@request_form, default_form_options) do |f| %>
      <%= render partial: 'form_fields', locals: { f: f } %>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn btn-success js-confirmable' %>
        <%= link_to build_icon('repeat', text: t('messages.undo_changes')), '', class: 'undo js-reloadable' %>
      </div>
  <% end %>
</div>