<%= main_title(t("action.show", model: RequestForm.model_name.human)) %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: 'show', locals: { request_form: @request_form } %>p
  </div>
</div>

<% unless request.xhr? %>
<%= button_to_back %>
<%= button_to_edit(@request_form) %>
<% end %>