<div class="well">
  <%= simple_form_for(@rt_entity_unsubscribe, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.input :reason %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>