<div class="well">
  <%= simple_form_for(@province, default_form_options) do |f| %>

  <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>
</div>