<div class="footer-container">
  <footer id="footer">
    <div class="row">
      <section id="social_block" class="footer-block col-xs-12 col-sm-6">
        <div class="container">
          <h4>Síguenos</h4>
          <ul class="list-inline">
            <li class="facebook"><a class="btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a class="btn btn-social-icon btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);"><i class="fa fa-twitter"></i></a></li>
            <li class="google-plus"><a class="btn btn-social-icon btn-google" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-google']);"><i class="fa fa-google-plus"></i></a></li>
            <li class="pinterest"><a class="btn btn-social-icon btn-pinterest" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-pinterest']);"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </section>
      <section id="block_contact_infos" class="footer-block col-xs-12 col-sm-6">
        <div>
          <h4>Contacto</h4>
          <ul class="list-inline">
              <li> <i class="fa fa-map-marker"></i> Voluntariado , C/ La Paz 123 28015 Madrid España</li>
              <li class="phoneBox"> <i class="fa fa-phone"></i> Tel.: <span>91 865 34 77</span></li>
              <li class="mailBox"> <i class="fa fa-envelope"></i> <span><a href="mailto:%73%61%63@%65%6e%74%65%72%62%69%6f.%65%73">voluntariado@madrid.es</a></span></li>
          </ul>
        </div>
      </section>
</div>
</footer>
</div>